@model E_Commerce.Models.FormsData.EditViewModel

@{
    Layout = "_Layout";
}

<form asp-action="Edit" asp-controller="Roles">
    <div class="role">
        <label asp-for="Id">Role Id</label>
        <input asp-for="Id" readonly="readonly" type="text"/>
    </div>
    <div class="role">
        <label asp-for="Name">Role Id</label>
        <input asp-for="Name" type="text"/>
    </div>
    <div class="sub">
        <input type="submit"/>
    </div>
</form>
<div>
    
    <div>The Users</div>

    <table>
        <tr>
            <td>Id</td>
            <td>Name</td>
            <a>Delete</a>
        </tr>
        @{
            foreach (var user in Model.Users)
            {
                <tr>
                    <td>@user.Id</td>
                    <td>@user.Email</td>
                </tr>
            }
        }

    </table>
</div>
<div>
    <a asp-controller="Roles" asp-action="AddOrDelete" asp-route-id="@Model.Id">Delete Or AddUsers</a>
</div>
