@using Microsoft.AspNetCore.Identity
@model System.Collections.Generic.List<Microsoft.AspNetCore.Identity.IdentityRole>

@{
    Layout = "_Layout";
}
<html>
<head>
    <style>
        table, th, td {
          border: 1px solid black;
          border-collapse: collapse;
        }
    </style>
</head>
<body>
   <div class="align-content-lg-center">
            <table style="width:100%">
                <thead>
                <td>Role
                <td>Edit</td>
                <td>Delete</td>
                </thead>
                @{
                    foreach (IdentityRole identityRole in Model)
                    {
                        <tr>
                            <td>@identityRole.Name</td>
                            <td><a asp-controller="Roles" asp-action="Edit" asp-route-id="@identityRole.Id">Edit</a></td>
                            <td><a asp-action="DeleteRole" asp-controller="Roles" asp-route-id="@identityRole.Id">Delete</a></td>
                        </tr>

                    }
                }
                </table>
        </div>
</body>
</html>
    
