@using Microsoft.AspNetCore.Identity
@model System.Collections.Generic.List<Microsoft.AspNetCore.Identity.IdentityRole>

@{
    Layout = "_Layout";
}

@{
    foreach (IdentityRole identityRole in Model)
    {
        <div class="align-content-lg-center">
            <span class="align-baseline">@identityRole.Name</span>
            <span class="align-content-lg-center">@identityRole.ConcurrencyStamp</span>
            <a  asp-controller="Roles" asp-action="Edit" asp-route-id="@identityRole.Id" >Edit</a>
            <a type="submit" class="align-content-start">Delete</a>
        </div>
    }
}