@model E_Commerce.Models.FormsData.ProductForm

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>title</h2>

<form asp-controller="Product" asp-action="Create" method="post" enctype="multipart/form-data">
    <div>
        <label asp-for="CategoryId">Category</label>
        <select asp-for="CategoryId">
            @{
                foreach (var modelCategory in Model.Categories)
                {
                    <option>@modelCategory</option>
                }
            }
        </select>
    </div>
    
    <div>
        <label asp-for="Name">Name</label>
        <input asp-for="Name" type="text"/>
    </div>
    
    <div>
        <label asp-for="Price">Price</label>
        <input type="text" asp-for="Price"/>
    </div>
    
    <div>
        <label asp-for="Quantity">Qunatity</label>
        <input asp-for="Quantity" type="text"/>
    </div>
    
    <div>
        <label asp-for="Images"></label>
        <input type="file" multiple="multiple" asp-for="Images"/>
    </div>
    <div>
        <input type="submit"/>
    </div>

</form>