@model E_Commerce.Models.FormsData.ModifyProductCustomViewModel
@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>title</h2>
<form enctype="multipart/form-data" asp-controller="Product" asp-action="Modify" method="post">
    <div>
        <div>
            <label asp-for="CategoryId">Category</label>
            <select asp-for="CategoryId">
                @{
                    foreach (var i in Model.CategoriesId)
                    {
                        <option>@i</option>
                    }
                }
            </select>
        </div>
        <div>
            <label asp-for="Name">Product Name</label>
            <input asp-for="Name" type="text"/>
        </div>
        <div>
            <label asp-for="Price">Price</label>
            <input asp-for="Price" type="text"/>
        </div>
        <div>
            <label asp-for="newImages">Delete Old Images and Add new</label>
            <input asp-for="newImages" type="file" multiple="multiple"/>
        </div>
        <div>
            @{
                foreach (var modelOldImage in Model.OldImages)
                {
                    <img src="~/images/@modelOldImage.Path"
                         asp-append-version="true" alt="Hey no image"
                         width="200" height="200"/>
                }
            }
        </div>
        <input hidden="hidden" asp-for="Id"/>
        <div>
            <input type="submit"/>
        </div>
     
        
    </div>
</form>
